.feedbackList {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.feedbackItem {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: calc((100% - 32px) / 5);
}

.feedbackValue {
  font-size: 18px;
  font-weight: 600;
}
